.svn
.svn/*
*.class
*.apk
bin/
bin/*
gen/
gen/*
lint.xml
.DS_Store
.settings/
.settings/*
.gradle/*
*.iml
build/*
import-summary.txt
deps/NumberpickerLib1/build/*
deps/TencentLBSLib/build/*
deps/TraceSdk/build/*
deps/numberprotect/*
.idea/*
local.properties
.git
obj/
libs/armeabi/libpush4dbg.so
libs/armeabi/libsecurity4dbg.so
